*{
    margin: 0 ;
}

body {
    background-color: #FFFAEE;
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FFFAEE;
    box-shadow: 0px 1px 10px #FFFAEE;
    z-index: 10;

}

#logo {
    width: 15vw;
    margin-right: 10vw;
    margin-left: 5vw;
}


.button-container {
    display: flex;
    gap: 5vw;
    margin-left: 1.5vw;
}

.nav-button {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button.active {
    background-color: #D7BFA5;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}


/* START HOME CSS */


 .image-container #getstarted, #login-overlay{
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(22, 22, 22);
    filter: brightness(40%);
    }

  .centered-home{
    position: relative;
    text-align: center;
    justify-content: center;
    bottom: 40vw;
    color: #FFFAEE;
    top: 35%;
        font-size: 3vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .centered-home p{
    font-size: 1vw;
    text-align: center;
    font-style: italic;
    padding: .5vw;
    padding-bottom: 2vw;
  }

  .centered-button {
    position: relative;
    justify-content: center;
    top: 10vw;
    color: #ffffff;
    background-color: #ffb74a;
    padding: 1vw;
    font-size: 2vw;
    border-radius: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    .centered-button:hover{
    background-color: #28221d;
    color: #FFFAEE;
    transition: .2s;
    }

 #gsmenu{
    position: relative;
    width: 100%;
    display: flex;
    bottom: 10vw;
    justify-content: center;
    color: rgb(22, 22, 22);
    filter: brightness(40%);
}

.centered-menu{
    position: relative;
    bottom: 25vw;
    text-align: center;
    color: #FFFAEE;
    font-size: 3vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.centered-menu p{
    font-size: 1vw;
    text-align: center;
    font-style: italic;
    padding: .5vw;

}


/* END HOME CSS */

/* LOGIN PAGE */


.login-header{
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FFFAEE;
    box-shadow: 0px 1px 10px #C0834C;
    z-index: 10;

}

.login-container, .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFAEE;
    padding: 10px;

}

.login-container h2, .register-container h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 25px;
    color: #4a3b2b;
    text-align: center;
}

#show-password{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-align: left;
    color: #4a3b2b;
    margin-left: 5px;
}

.login-container #label, .register-container #label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-align: left;
    color: #4a3b2b;
    margin-bottom: 10px;
}


.login-form{
    width: 50%;
}


.login-container input[type="email"], .login-container input[type="password"],
.register-container input[type="email"], .register-container input[type="password"], .register-container input[type="text"]  , #password {
    padding: 1.5vw;
    border: 2px solid #C0834C;
    background-color: #FFFAEE;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
}


.login-container .options, .register-container .options {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
  font-size: 0.9rem;
}

.options-container{
    display: flex;
    justify-content: space-between;
}


.login-container button, .register-container button {
  width: 100%;
  background-color: #ffb74a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-container button:hover
.register-container button:hover {
  background-color: #c49a87;
}
.login-container a,
.register-container a {
  text-decoration: none;
  color: #4a3b2b;
  font-size: 0.9rem;
}


#submit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #4a3b2b;
    text-align: center;
    background-color: transparent;
}

.create-account,
.register-account {
    background-color: #ffb74a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 1.5vw;
    margin-top: 10px;
    padding: 1.5vw;
    border-radius: 1vw;
}









/* @media screen and CSS */


@media screen and (max-width: 768px) {

    #logo {
        width: 25vw;
        margin-left: 80px;
    }

    .header, .login-header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: #FFFAEE;
        box-shadow: 0px 1px 10px #FFFAEE;
        z-index: 10;
    }

    #logo {
        margin: 0 auto;
    }

    .button-container {
        margin: auto;
        flex-direction: row;
        align-items: center;
        gap: 5vw;
    }

    .nav-button {
        display: block;
        font-size: 2vw;
        text-align: center;
        padding: 12px;
        border-radius: 1vw;
    }
}

    .centered-home{
        top: 35%;
        font-size: 3vw;
    }

    .centered-button{
        top: 1vw;
        font-size: 2vw;
        text-decoration: none;
        padding: 1vw;
        border-radius: 1vw;
    }


@media screen and (max-width: 480px) {

    #logo {
        width: 40vw;

    }
    .image-container, #getstarted{
        width: 100vw;
    }


    .nav-button {
        font-size: 3vw;
        padding: 2vw;
        border-radius: 1vw;
    }

    .centered-home{
        top: 25%;
        font-size: 5vw;
    }

    .centered-home p{
        font-size: 2vw;
    }

    .centered-button{
        top: 70%;
        font-size: 3vw;
        padding: 2vw;
        border-radius: 1vw;
    }

}


/* LOGIN MEDIA */
@media screen and (max-width: 768px) {
    .login-header {
      flex-direction: column;
      text-align: center;
    }

    .button-container {
      flex-direction: column;
      gap: 5px;
      margin-top: 10px;
    }

    .login-container {
      margin: 20px auto;
      padding: 20px;
    }

    img#login-overlay {
      max-height: 150px;
    }
  }
